@{
    ViewData["Title"] = "Galeria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <h1 class="title">Galeria</h1>

    <div class="image-container">
        <img src="~/images/Galeria/ADS_0651.jpg" alt="">
        <img src="~/images/Galeria/ADS_0656.jpg" alt="">
        <img src="~/images/Galeria/ADS_0686.jpg" alt="">
        <img src="~/images/Galeria/ADS_0703.jpg" alt="">
        <img src="~/images/Galeria/ADS_7459.jpg" alt="">
        <img src="~/images/Galeria/ADS_7482.jpg" alt="">
        <img src="~/images/Galeria/ADS_7525-01.jpeg" alt="">
        <img src="~/images/Galeria/ADS_7536-NEF_DxO_DeepPRIME-Editar.jpg" alt="">
        <img src="~/images/Galeria/ADS_9803-NEF_DxO_PRIME.jpg" alt="">
        <img src="~/images/Galeria/bannerIndex.jpg" alt="">
        <img src="~/images/Galeria/nosotrosBaterista.jpg" alt="">
        <img src="~/images/Galeria/nosotrosGuitarrista.jpg" alt="">
        <img src="~/images/Galeria/nosotrosTecladista.jpg" alt="">
       
    </div>

</div>
