@{
    ViewData["Title"] = "Musica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="canciones_layout contenedor">


    <section class="cancion">

        <h2 class="canciones__titulo">Hemiolas</h2>

        <div class="cancion__contenido">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kICkFuYctE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <p>
                Hemiolas nace cuando toda la banda decide ir de campamento a la Malinche, después de lograr llegar a la cumbre, decidimos bajar y acampar, algunos vamos 
                por leña, otros empiezan a armar la casa de campaña. Al final, durante la noche ponemos a escribir una canción, no tenemos instrumentos pero tenemos la letra
                y comenzamos a buscar un ritmo. Y es así como sin instrumentos se compone Hemiolas
            </p>
        </div>
    </section>

</section>

<section class="canciones_layout contenedor">


    <section class="cancion">

        <h2 class="canciones__titulo">El Tren Andromeda</h2>

        <div class="cancion__contenido">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vz_kuGNtRs8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

            <p>
                Esta canción fue nuestra primera creación por parte de la banda, por lo cual le tenemos bastante cariño. Fue compuesta hace más de 5 años, sin embargo, 
                hasta hace 3 años tuvimos la oportunidad de grabarlo y terminar su acompañamiento musical. Por lo cual, estamos bastantes felices de poder compartirla
                con todos ustedes.
            </p>
        </div>
    </section>

</section>
<section class="canciones_layout contenedor">


    <section class="cancion">

        <h2 class="canciones__titulo">Nisperos</h2>

        <div class="cancion__contenido">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/goKDfN2ggE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>
               Nisperos es una canción compuesta por nuestro Baterista, lamentablemente nos comenta que no tiene un motivo del por qué la escribió por lo cual 
               no hay una historia que contar sobre su creación, sin embargo, explica que simplemente sintió una gran inspiración un día al despertar, y pasó todo
               un día entero componiendo esta canción. Lo que queremos decir es que la música llega cuando sea y en donde sea.
            </p>
        </div>
    </section>

</section>
<section class="canciones_layout contenedor">


    <section class="cancion">

        <h2 class="canciones__titulo">Arrullo</h2>

        <div class="cancion__contenido">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Hgi9auXDf2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>
                Arrullo es una canción en donde toda la banda participó intentando plasmar un poco la escencia de cada uno de nosotros, después de unos cuantos días 
                de desacuerdos y acuerdos, logramos llegar a estar todos en sintonia sobre lo que queríamos representar. Se terminan los conflictos de ideas y
                podemos escuchar plácidamente la composición, es todo tan tranquilo, como un Arrullo.
            </p>
        </div>
    </section>

</section>
<section class="canciones_layout contenedor">


    <section class="cancion">

        <h2 class="canciones__titulo">Llanto</h2>

        <div class="cancion__contenido">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/y5GL2WhqGOM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>
                Original de nuestro vocalista, escrita en un momento donde tuvo bastante complicaciones personales, tanto academicamente, como familiar. 
                Al sentir tal presión, decide intentar plasmar su sentir en una canción, similar a un llanto. No intenta quejarse, simplemente desahogarse
            </p>
        </div>
    </section>

</section>

