@{
    ViewData["Title"] = "Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 class="nosotros__title">Conoce más sobre <span class="nosotros__title--color">¡nosotros!</span></h2>

<div class="contenedor">
    
    <div class="bandas">

        <section class="banda">

            <div class="banda__imagen">
                <img src="~/images/banda.jpeg"/>
            </div>
            <div class="banda__contenido">
                <h3>¿Qué es el <span>Retrato de Eroshenko</span>?</h3>
                <p>
                    Somos una banda musical apasionada y llena de energía que ha estado cautivando corazones y creando una experiencia musical única desde nuestra formación en (año de formación). Nuestra música es un retrato en sí misma, capturando las emociones y las historias de la vida a través de nuestras composiciones.

                    Nos inspiramos en la diversidad de la existencia humana y en la belleza que encontramos en cada momento. Desde las alegrías efímeras hasta las luchas internas, buscamos explorar la complejidad de las emociones y compartirlas con nuestro público a través de nuestra música.
                </p>
            </div>

        </section>

        <section class="banda">

            <div class="banda__imagen">
                <img src="~/images/nosotrosTecladista.jpg" />
            </div>
            <div class="banda__contenido">
                <h3>¡Hola! Soy<span> Alan Gutierrez </span>(Guitarrista/Tecladista)</h3>
                <p>Soy el guitarrista/tecladista de El Retrato de Eroshenko. La música ha sido mi pasión desde que era un niño. Tocar la guitarra y los teclados me permite agregar texturas y capas a nuestras composiciones, creando paisajes sonoros únicos. Me encanta explorar nuevas sonoridades y fusionar diferentes géneros para ofrecer una experiencia musical diversa y envolvente. Estoy emocionado de compartir nuestra música con ustedes y espero que encuentren en ella un reflejo de sus propias emociones y experiencias.</p>
            </div>

        </section>

        <section class="banda">

            <div class="banda__imagen">
                <img src="~/images/nosotrosVocalista.jpg" />
            </div>
            <div class="banda__contenido">
                <h3>Yo soy <span>Diego Lopez</span> (Vocalista)</h3>
                <p> Permítanme presentarme, soy el vocalista de El Retrato de Eroshenko. Desde que tengo memoria, la música ha sido mi forma de vida. A través de mi voz, busco transmitir emociones, contar historias y conectar con cada uno de ustedes. Mi pasión por la música y el arte me ha llevado a explorar diferentes estilos y técnicas vocales, siempre en busca de la expresión más auténtica. Estoy emocionado de compartir nuestra música y espero que nuestras canciones les toquen el corazón de la misma manera que lo hacen conmigo.</p>
            </div>

        </section>

        <section class="banda">

            <div class="banda__imagen">
                <img src="~/images/nosotrosBaterista.jpg" />
            </div>
            <div class="banda__contenido">
                <h3>Me llamo <span>Benjamin Figueroa</span> (Baterista)</h3>
                <p> Soy el baterista de El Retrato de Eroshenko y soy el encargado de marcar el ritmo de nuestras canciones. Desde que era joven, siempre he sentido una conexión especial con la batería. A través de mis baquetas, busco transmitir energía y crear un ambiente poderoso en cada actuación. Me encanta desafiarme a mí mismo y explorar nuevos patrones rítmicos para darle vida a nuestras composiciones. Espero que disfruten de nuestra música y que sientan el impulso de dejarse llevar por el ritmo.</p>
            </div>

        </section>

        <section class="banda">

            <div class="banda__imagen">
                <img src="~/images/nosotrosGuitarrista.jpg" />
            </div>
            <div class="banda__contenido">
                <h3>Me llamo <span>Benjamin Figueroa</span> (Baterista)</h3>
                <p>¡Hola a todos! Soy el guitarrista de El Retrato de Eroshenko. Desde que era un niño, la guitarra ha sido mi compañera constante. Mi amor por las melodías y los riffs enérgicos me ha llevado por un viaje musical fascinante. A través de mis cuerdas, busco crear momentos mágicos y capturar la esencia de cada canción. Me encanta experimentar con diferentes efectos y técnicas para ofrecer una experiencia única en cada actuación. Espero que disfruten de nuestra música tanto como yo disfruto tocándola para ustedes.</p>
            </div>

        </section>
    </div>
    
</div>
